<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mbtl.mansuhighschool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MansuHS">
        <activity
            android:name=".subjectimer"
            android:exported="true" />
        <activity
            android:name=".examtimer"
            android:exported="true" />
        <activity
            android:name=".mockexamtimer"
            android:exported="true" />
        <activity
            android:name=".timetable"
            android:exported="true" />
        <activity
            android:name=".lunch"
            android:exported="true" />
        <activity
            android:name=".leechanyoung"
            android:exported="true" />
        <activity
            android:name=".yooyoungbin"
            android:exported="true" />
        <activity
            android:name=".jungtaehyun"
            android:exported="true" />
        <activity
            android:name=".choisoonjoo"
            android:exported="true" />
        <activity
            android:name=".leejaewoo"
            android:exported="true" />
        <activity
            android:name=".parkminseo"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>